@import url("./variable.css");
@import url("./fonts.css");
@import url("./reset.css");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
}

a {
  text-decoration: none;
  color: inherit;
}

body {
  background: #000;
  color: white;
  font-family: var(--font-nunito);
}

.navbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 36px;
  display: flex;
  gap: 35px;
  padding: 30px 80px;
  align-items: center;
  flex-direction: row;
  z-index: 1000;
  background: transparent;
  backdrop-filter: blur(0px);
  transition: all 0.3s ease;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(12px);
}

.nav-left {
  width: 105px;
  height: 35px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  color: white;
  opacity: 0.9;
  text-decoration: none;
  font-size: 14px;
  color: #f8f7f3;
}

.icon {
  width: 15px;
  height: 15px;
}

.nav-search {
  width: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 35px;
  border-radius: 20px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 13px;
  box-sizing: border-box;
  gap: 20px;
  padding: 0 25px;
}

.nav-search input {
  width: 100%;
  background: transparent;
  border: none;
  outline: none;
  color: white;
}

.nav-search input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.container {
  width: 100%;
  height: 100vh;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 80px;
  background-color: #0e0e0e;
}

.hero::after {
  content: "";
  position: absolute;
  inset: 0;
  background: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 40%,
    rgba(14, 14, 14, 1) 100%
  );
  pointer-events: none;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: var(--backdrop) center/cover no-repeat;
  background-position: bottom;
  opacity: 0.4;
}

.hero-content {
  position: relative;
  max-width: 672px;
  display: flex;
  flex-direction: column;
  gap: 24px;
  z-index: 2;
}

.hero-header {
  display: flex;
  flex-direction: column;
  gap: 14px;
}

.hero-title {
  font-size: 64px;
  font-weight: 700;
}

.hero-title .year {
  font-weight: 400;
  color: #ccc;
  margin-left: 10px;
}

.tags {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 20px;
}

.play {
  display: flex;
  flex-direction: row;
  justify-items: center;
  align-items: center;
  background: gold;
  color: black;
  padding: 6px 8px;
  gap: 4px;
  border-radius: 18px;
  font-size: 16px;
  font-weight: bold;
}

.badge {
  width: fit-content;
  background: #fff;
  color: #000;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 18px;
}

.genre-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-items: center;
  gap: 10px;
}

.genre {
  color: #fff;
  font-weight: bold;
  font-size: 16px;
  padding: 8px 12px;
  border-radius: 18px;
  transition: all 0.3s ease;
}

.genre:hover {
  background: rgba(255, 255, 255, 0.1);
}

.hero-metadata {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-description {
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.hero-description h3 {
  font-size: 24px;
}

.hero-description .desc {
  color: #ccc;
  max-width: 672px;
}

.movie-info {
  display: flex;
  gap: 25px;
  align-items: center;
}

.director {
  display: flex;
  gap: 15px;
  align-items: center;
}

.director-img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  object-fit: cover;
}

.director-detail {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.director-name {
  font-size: 20px;
  font-weight: bold;
}

.director-title {
  font-size: 16px;
}

.reviewer {
  display: flex;
  align-items: center;
  gap: 8px;
  justify-content: space-between;
}

.hero-img {
  width: 25%;
  border-radius: 16px;
  aspect-ratio: 2/3;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
  z-index: 2;
}

.recommendation {
  display: flex;
  flex-direction: column;
  gap: 24px;
  padding: 0 80px;
  background-color: #0e0e0e
}

.recommendation h2 {
  font-size: 24px;
  font-weight: 600;
}

.recommendation-list {
  display: flex;
  gap: 50px;
}

.recommendation-card {
  width: 200px;
  display: flex;
  flex-direction: column;
  gap: 4px;
}

.recommendation-card img {
  width: 100%;
  border-radius: 10px;
}

.recommendation-content {
  display: flex;
  justify-content: space-between;
  gap: 8px;
}

.recommendation-card p {
  font-size: 14px;
  max-width: 80%;
  line-clamp: 2;
}

.recommendation-card span {
  font-size: 13px;
  color: gold;
}
/* 
.footer {
  width: 100%;
  background: #181818;
  padding: 70px 20px 40px;
}

.footer-content {
  max-width: 900px;
  margin: auto;
  text-align: center;
  color: #ccc;
  font-size: 16px;
  line-height: 1.8;
}

.footer-contact {
  margin-bottom: 15px;
  color: #e0e0e0;
}

.footer-links {
  margin-bottom: 25px;
  color: #bdbdbd;
  letter-spacing: 1px;
}

.footer-desc {
  margin-bottom: 50px;
  color: #b0b0b0;
  font-size: 15px;
}

.footer-copy {
  color: #777;
  font-size: 14px;
} */
