@import url("./variable.css");
@import url("./fonts.css");
@import url("./reset.css");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: #000;
  color: white;
  font-family: "Poppins", sans-serif;
}

.navbar {
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  z-index: 1000;
  background: transparent;
  backdrop-filter: blur(0px);
  transition: all 0.3s ease;
}

.navbar.scrolled {
  background: rgba(0, 0, 0, 0);
  backdrop-filter: blur(12px);
}

.nav-left {
  width: 100px;
  height: 35px;
  background: rgba(255, 255, 255, 0.1);
  border-radius: 20px;
  margin-left: 50px;
  padding: 0 13px;
  backdrop-filter: blur(12px);
  display: flex;
  align-items: center;
  gap: 4px;
  color: white;
  opacity: 0.9;
  font-size: 14px;
}

.nav-search input {
  width: 260px;
  height: 32px;
  border-radius: 20px;
  border: none;
  outline: none;
  padding: 0 15px;
  margin-right: 50px;
  background: rgba(255, 255, 255, 0.1);
  color: white;
  font-size: 13px;
}

.nav-search input::placeholder {
  color: rgba(255, 255, 255, 0.6);
}

.container {
  width: 100%;
  height: 100vh;
}

.hero {
  position: relative;
  height: 100vh;
  display: flex;
  align-items: center;
  padding: 80px;
}

.hero::before {
  content: "";
  position: absolute;
  inset: 0;
  background: url("/assets/fallenAngles.jpg") center/cover no-repeat;
  background-position: bottom;
  opacity: 0.4;
}

.hero-overlay {
  position: absolute;
  inset: 0;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0), #151515);
}

.hero-content {
  position: relative;
  max-width: 550px;
  z-index: 2;
}

.nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 40px;
}

.hero h1 {
  font-size: 40px;
  margin-bottom: 15px;
}

.hero h1 span {
  color: #bbb;
}

.tags {
  display: flex;
  gap: 10px;
  margin-bottom: 20px;
}

.play {
  background: gold;
  color: black;
  padding: 6px 12px;
  border-radius: 18px;
  font-weight: bold;
}

.badge {
  border: 1px solid white;
  padding: 6px 12px;
  border-radius: 5px;
}

.genre {
  color: #aaa;
}

.desc {
  color: #ccc;
  line-height: 1.6;
  margin: 10px 0 20px;
}

.movie-info {
  display: flex;
  gap: 25px;
  align-items: center;
}

.rating {
  margin-left: 10px;
}

/* POSTER */
.poster {
  position: absolute;
  right: 80px;
  top: 100px;
}

.poster img {
  width: 350px;
  height: 420px;
  border-radius: 10px;
  box-shadow: 0 10px 50px rgba(0, 0, 0, 0.7);
}

/* RECOMMEND */
.recommend {
  padding: 80px;
}

.recommend h2 {
  margin-bottom: 25px;
}

.movie-list {
  display: flex;
  gap: 50px;
}

.movie-card {
  width: 200px;
}

.movie-card img {
  width: 100%;
  border-radius: 10px;
}

.movie-card p {
  margin-top: 8px;
  font-size: 14px;
}

.movie-card span {
  font-size: 13px;
  color: gold;
}

.footer {
  width: 100%;
  background: #181818;
  padding: 70px 20px 40px;
  margin-top: 500px;
}

.footer-content {
  max-width: 900px;
  margin: auto;
  text-align: center;
  color: #ccc;
  font-size: 16px;
  line-height: 1.8;
}

.footer-contact {
  margin-bottom: 15px;
  color: #e0e0e0;
}

.footer-links {
  margin-bottom: 25px;
  color: #bdbdbd;
  letter-spacing: 1px;
}

.footer-desc {
  margin-bottom: 50px;
  color: #b0b0b0;
  font-size: 15px;
}

.footer-copy {
  color: #777;
  font-size: 14px;
}
