@import url("./fonts.css");
@import url("./variable.css");
@import url("./reset.css");
@import url("./common.css");

body {
  background: black;
}

.navbar {
  position: fixed;
  width: 100%;
  top: 0;
  padding: 20px 60px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
}

.logo {
  font-weight: bold;
  font-size: x-large;
}

.hero {
  height: 100vh;
  background: url("https://assets.nflxext.com/ffe/siteui/vlv3/4ffe3d37-1fc1-4d93-b61a-1fa58c11ccff/web/ID-id-20251124-TRIFECTA-perspective_6121d1fc-400a-40b2-9ac6-1e50c80b36cc_small.jpg")
    center/cover no-repeat;
  position: relative;
  display: flex;
  justify-content: center;
  padding-top: 24px;
  text-align: center;
}

.overlay {
  position: absolute;
  inset: 0;
  background: rgba(0, 0, 0, 0.584);
}

.hero-content {
  position: relative;
  max-width: 900px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 40px;
}

.hero-header {
  color: white;
}

.hero-header h1 {
  color: white;
  font-size: 50px;
  font-weight: bold;
  margin-bottom: 20px;
}

.hero-content h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.hero-header p {
  font-size: 18px;
}

.searchBox {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: start;
  background-color: #ffff;
  width: 450px;
  border-radius: 15px;
}

.searchBar {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 2px 8px;
  border-radius: 12px;
  background-color: var(--background-color);
  color: #010101;
}

.searchInput {
  width: 100%;
  padding: 10px 15px;
  border: none;
  border-radius: 25px;
  font-size: 16px;
  outline: none;
}

.suggestionList {
  width: 100%;
  background: #fff;
  border-radius: 16px;
  max-height: 250px;
  max-width: 448px;
  overflow-y: auto;
}

.suggestionItem {
  width: 100%;
  display: flex;
  gap: 10px;

  text-decoration: none;

  padding: 8px;
  border-radius: 8px;
  transition: 0.2s;
}

.suggestionItem:hover {
  background: rgba(255, 255, 255, 0.1);
}

.suggestionImage {
  width: 45px;
  border-radius: 6px;
}

.suggestionTitle {
  font-size: 14px;
  text-align: left;
}
